:host {
    .attraction-container {
        // margin-bottom: 3rem;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        .pics-container {
            margin: 0 auto;
            width: 100%;
            .pic-container {
                margin: 0 auto;
                display: flex;
                justify-content: center;
                .pic {
                    margin: auto;
                    background-size: cover;
                    height: calc((100vh - 100px) * 0.5);
                }
            }
        }
        .description {
            .own {
                .text {
                }
            }
        }
        .map {
            .header {
                display: flex;
                justify-content: space-between;
            }
            .map-container {
                
                .map-placeholder {
                    img {
                        width: 100%;
                        background-size: cover;
                    }
                }
                margin: 1rem 0;
            }
            .footer {
                display: flex;
                justify-content: space-between;
            }
        }
        .add-comment {
            margin: 3rem 0;
            .text {
            }
            .button-container {
                display: flex;
                justify-content: end;
            }
        }
        .comments {
            .commnets-container {
                .comment {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    .comment-text {
                        margin-top: 0.2rem;
                        border: black solid;
                        border-width: 1px;
                        border-radius: 8px;
                        padding: 1rem;
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }

    .title {
        /* Чтобы спрятать часть линий, которые 
        ** будут вылазить за пределы блока */
        overflow: hidden;
        /* Выравнивание заголовка по центру, 
        ** можно использовать left, right */
        text-align: center;
        /* Тут можно добавить другие стили для заголовка */
        font-size: 30px;
    }
    .title h2 {
        /* Стили тега обертки для заголовков 
        ** в несколько строк */
        display: inline-block;
        vertical-align: middle;
    }
    .title:before,
    .title:after {
        /* Обязательно указываем пустое свойство content, 
        ** иначе псевдоэлементы не появятся на сайте */
        content: "";
        /* Указываем что наши линии будут строчно-блочные и 
        ** выравнивание по высоте - по центру */
        display: inline-block;
        vertical-align: middle;
        /* Задаем ширину 100% и выбираем высоту линии, 
        ** в нашем примере она равна 4 пикселям */
        width: 100%;
        height: 1px;
        /* Добавляем цвет для линии */
        background-color: black;
        /* Добавляем пседоэлемантам возможность изменить 
        ** позицию линии, для создания отступов от текста */
        position: relative;
    }
    .title:before {
        /* Смещаем левую линию на 100% влево, чтобы линия 
        ** встала рядом с текстом слева */
        margin-left: -100%;
        /* Указываем в пикселях отступ линии от текста заголовка */
        left: -14px;
    }
    .title:after {
        /* Смещаем правую линию на 100% вправо, чтобы 
        ** линия встала рядом с текстом справа */
        margin-right: -100%;
        /* Указываем в пикселях отступ линии от текста заголовка */
        right: -14px;
    }

    .text {
        border: black solid;
        border-width: 1px;
        border-radius: 8px;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        min-height: 8rem;
        resize: none;
    }

    ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
        background: #3d3d3d;
        color: #aa0000;
    }
      
    ::ng-deep .p-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #8181814f;
    }
}