<div class="attraction-container sm:col-11 md:col-11 lg:col-10 xl:col-9 mx-auto px-2">
    <div class="pics-container">
        <p-carousel [value]="attraction?.images ?? []" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-pic pTemplate="item">
                <div class="pic-container">
                    <img [src]="pic.url" class="pic" />
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="title">
        <h2>{{attraction?.title}}</h2>
    </div>
    <div class="description">
        <div class="own">
            <h2>Описание</h2>
            <textarea class="text" [value]="attraction?.description"></textarea>
        </div>
        <div class="wiki">
            <h2>Информация из Интернета (<a [href]="attraction?.wiki_info_link">Википедия</a>)</h2>
            <div [innerHTML]="attraction?.wiki_info"></div>
        </div>
    </div>
    <div class="map">
        <div class="header">
            <h2>Расположение на карте</h2>
            <h3 class="date">Дата создания метки {{attraction?.created_at | date:"d.MM.y"}}</h3>
        </div>
        <div class="map-container">
            <div class="map-placeholder">
                <img src="../../assets/map.png" alt="">
            </div>
        </div>
        <div class="footer">
            <span>Создатель метки: {{attraction?.creator}}</span>
            <!-- <button class="text-button" mat-stroked-button>Редактировать метку</button>
            <button class="text-button" mat-stroked-button>Удалить метку</button> -->
        </div>

    </div>
    <div *ngIf="isLoggedIn" class="add-comment">
        <textarea #comment class="text"></textarea>
        <div class="button-container">
            <button (click)="sendComment(comment.value); comment.value = ''" class="text-button" mat-stroked-button>Отправить</button>
        </div>
    </div>

    <div *ngIf="attraction?.comments?.length" class="comments">
        <h2 style="margin-bottom: 0.2rem;">Все комментарии</h2>
        <mat-divider></mat-divider>
        <div class="commnets-container sm:col-11 md:col-11 lg:col-10 xl:col-10 mx-auto px-2">
            <div *ngFor="let comment of attraction?.comments">
                <div class="comment">
                    <span>{{comment.creator_name}}</span><br>  
                    <div class="comment-text">
                        {{comment.text}}
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>