:host {
  .attractions-bg {
    background-size: 100% 100% !important;
    background-size: contain !important;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    background-position: bottom !important;
  }
  .attractions-container {
    margin-top: 30px;
    .search {
      .bar {
        button {
          $base-color: #c6538c;
          height: calc(2.5rem);
          width: calc(2.5rem);
          padding-top: 4px;
          margin-left: auto;
          border-radius: 8px;
          border-width: 1px;
          border-color: black;
          background-color: white;
          cursor: pointer;
        }
        .input {
          height: 2.5rem;
          border-radius: 8px;
          font-size: 1rem;
          border-width: 1px;
          border-color: black;
          padding: 1px 16px;
        }
      }
      .filters {
        margin: 1rem 2rem
      }
    }
    .attractions {
      .item {
        border: rgba(0, 0, 0, 0.1) solid 1px;
        border-radius: 8px;
        background-position: center !important;
        background-size: cover !important;
        display: flex;
        justify-content: center ;
        .info {
          width: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-transform: uppercase;
          .text {
            border: rgba(0, 0, 0, 0.1) solid 1px;
            background-color: white;
            text-align: center;
            .name {
              letter-spacing: 0.135rem;
            }
            .date {
            }
          }
          .details-button {
            background-color: white;
            margin: 0 auto;
          }
        }
      }
    }
  }
}