:host {
  .attractions-container {
    margin-top: 30px;
    .search {
      padding: 0 10rem;
      .bar {
        padding: 0 6rem;
        display: grid;
        grid-template-columns: 8fr 1fr 1fr;
        button {
          $base-color: #c6538c;
          height: calc(2.5rem + 4px);
          width: calc(2.5rem + 4px);
          padding-top: 4px;
          margin-left: auto;
          border-radius: 8px;
          border-width: 1px;
          border-color: black;
          background-color: white;
        }
        .input {
          height: 2.5rem;
          border-radius: 8px;
          font-size: 1rem;
          border-width: 1px;
          border-color: black;
          padding: 1px 16px;
        }
      }
      .filters {
        margin: 1rem 2rem
      }
    }
    .attractions {
      padding: 0 10rem;
      .item {
        height: 150px;
        border-radius: 8px;
        background-color: rgb(122, 122, 122);
        background-size: cover !important;
        margin: 30px 0;
        display: flex;
        justify-content: center ;
        .info {
          width: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          text-transform: uppercase;
          .text {
            padding: 4px 16px;
            background-color: white;
            text-align: center;
            .name {
              padding: 30px;
              font-size: 2rem;
              letter-spacing: 0.135rem;
            }
            .date {
            }
          }
          .details-button {
            background-color: white;
            margin: 0 auto;
          }
        }
      }
    }
  }
}