<div class="add-attraction-container sm:col-11 md:col-11 lg:col-10 xl:col-9 mx-auto px-2">
    <form [formGroup]="attractionForm" (submit)="edit()">

        <div class="flex justify-content-center">
            <h1 class="text-transform: uppercase text-center text-xl lg:text-4xl">Редактирование достопримечательности</h1>
        </div>
        <div class="mb-6">
            <h2 class="text-transform: uppercase">Название</h2>
            <input class="input w-full" type="text" matInput formControlName="title" placeholder="Введите название">
        </div>
        <div class="mb-6">
            <h2 class="text-transform: uppercase">Фотографии</h2>
            <div #content class="flex overflow-x-auto">
                <!-- <label class="cursor-pointer pic m-2">
                    <input class="hidden" type="file" (change)="addFile($event)" accept="image/png, image/gif, image/jpeg" >
                    <mat-icon class="add-icon m-auto">add</mat-icon>
                </label> -->
                <div *ngFor="let pic of attraction?.images" class="flex relative m-2">
                    <img [src]="pic.url" class="pic p-0">
                    <!-- <div class="cursor-pointer w-2rem h-2rem delete-icon"> 
                        <mat-icon (click)="deleteFile(pic.id)" class="add-icon m-auto">close</mat-icon>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="mb-6">
            <h2 class="text-transform: uppercase">Описание</h2>
            <textarea formControlName="description" class="description w-full"></textarea>
        </div>
        <!-- <div class="mb-6">
            <h2 class="text-transform: uppercase">Информация из интернета (википедия)</h2>
            <input class="input w-full" type="text" matInput placeholder="Вставьте ссылку">
        </div> -->
        <div class="mb-6">
            <h2 class="text-transform: uppercase">Расположение на карте</h2>
            <div class="map-container">
                <ymap
                    [marksOn]="true"
                    [movable]="true"
                    [(markCoords)]="markCoords"
                    [center]="markCoords"
                ></ymap>
            </div>
            <div class="flex justify-content-center mb-6">
                <button class="text-button text-transform: uppercase" mat-stroked-button type="submit">Изменить</button>
            </div>
        </div>
    </form>
</div>
