<div class="login-container sm:col-11 md:col-11 lg:col-3 xl:col-3 mx-auto px-2">
  <form [formGroup]="loginForm" (submit)="logIn()" class="login-form py-4 lg:py-5">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="loginForm.hasError('email') && !loginForm.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="loginForm.hasError('password') && !loginForm.hasError('required')">
        Please enter a valid password
      </mat-error>
      <mat-error *ngIf="loginForm.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button class="logIn-button" type="submit" mat-stroked-button>Войти</button>
  </form>
  <div class="spacer"></div>
  <div class="register text-center">
    <span class="">Еще нет аккаунта? <a href="/registration" >Зарегистрироваться</a> </span>
  </div>
</div>