<div class="view-container">
  <mat-toolbar class="menu" [ngStyle]="{background: 'url(../../assets/birds_2.png) no-repeat'}" color="primary">
    <img (click)="navigate('main')" src="/assets/logo.png" alt="">
    <p class="menu-item lg:text-2xl md:text-xl" (click)="navigate('attractions')">Все<br>достопримечательности</p>
    <span class="spacer"></span>
     <button *ngIf="!isLoggedIn" mat-stroked-button (click)="navigate('login')">Вход</button>
     <button *ngIf="isLoggedIn" mat-stroked-button (click)="logout()">Выход</button>
  </mat-toolbar>
   <mat-divider></mat-divider>
   <router-outlet></router-outlet>
   <div class="footer p-2">
    <div class="footer-container grid">
      <div class="col-2 flex justify-content-end flex-wrap align-content-center">
        <img (click)="navigate('main')" src="/assets/logo.png" alt="">
      </div>
      <div class="col-8">
        <div class="flex align-content-center flex-wrap h-full">
          <p (click)="navigate('attractions')" class="text lg:text-2xl md:text-xl">Все достопримечательности</p>
          <p (click)="navigate('about')" class="text lg:text-2xl md:text-xl vertical-align-middle">О нас</p>
        </div>
      </div>
      <div class="icons col-2">
        <div class="flex justify-content-end flex-wrap">
          <mat-icon (click)="navigate('vk')" svgIcon="vk"></mat-icon> 
          <mat-icon (click)="navigate('tg')" svgIcon="tg"></mat-icon> 
        </div>
      </div>
    </div>
  </div>
</div>