.spacer {
  flex: 1 1 auto;
}

.menu-item {
  margin: 0 4px;
  cursor: pointer;
}

.menu {
  object-fit: contain;
}

mat-toolbar { 
  height: 100px;
  // background-color: aqua;
}

.footer {
  flex: 0 1 auto;
  background-color:rgb(172, 172, 172);
  width: 100%;
}

::ng-deep router-outlet + *{
  width: 100%;
  flex: 1 1 auto;
  min-height: calc(100vh - 201px);
}

.view-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
  background: url(../assets/birds_1.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

img {
  height: 60px;
  width: 60px;
  cursor: pointer;
}


.footer {
  background-color: #e5e5e5;
  .footer-container {
    p.text {
      cursor: pointer;
      margin-right: 2rem;
    }
  }
  .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-icon {
      margin-right: 2rem;
      cursor: pointer;
    }
  }
}