:host {
  .map-container {
    ::ng-deep #map {
      height: 50vh;
    }
    .map-placeholder {
      img {
        width: 100%;
        background-size: cover;
      }
    }
    margin: 1rem 0;
  }

  .search-container {
    height: calc(100vh - 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .search-button {
      font-size: 1.5rem;
      padding: 8px 20px;
      width: fit-content;
      border-color: black;
    }
  }
}