<div class="registration-container sm:col-11 md:col-11 lg:col-3 xl:col-3 mx-auto px-2">
    <form [formGroup]="registrationForm" (submit)="register()" class="registration-form py-4 lg:py-5">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="registrationForm.hasError('email') && !registrationForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registrationForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Имя</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="registrationForm.hasError('email') && !registrationForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="registrationForm.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="registrationForm.hasError('password') && !registrationForm.hasError('required')">
          Please enter a valid password
        </mat-error>
        <mat-error *ngIf="registrationForm.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Повторите пароль</mat-label>
        <input type="password" matInput formControlName="password_confirmation">
        <mat-error *ngIf="registrationForm.hasError('password_confirmation') && !registrationForm.hasError('required')">
          Please enter a valid password
        </mat-error>
        <mat-error *ngIf="registrationForm.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <button class="register-button" type="submit" mat-stroked-button>Зарегистрироваться</button>
    </form>
  </div>
  